Options -Indexes

RewriteEngine on

RewriteRule ^$ controller/UserController.php?method=home

RewriteRule ^me$ controller/UserController.php?method=whoami
RewriteRule ^delete$ controller/UserController.php?method=delete
RewriteRule ^updateUser$ controller/UserController.php?method=update
RewriteRule ^processLogin/?$ controller/UserController.php?method=login
RewriteRule ^processRegistration/?$ controller/UserController.php?method=register
RewriteRule ^logoff/?$ controller/UserController.php?method=logoff

RewriteRule ^comment/delete$ controller/CommentController.php?method=delete
RewriteRule ^comment$ controller/CommentController.php?method=add

RewriteRule ^collaborate$ controller/UserController.php?method=collaborate
RewriteRule ^uncollaborate$ controller/UserController.php?method=uncollaborate

RewriteRule ^promote$ controller/UserController.php?method=promote
RewriteRule ^demote$ controller/UserController.php?method=demote

RewriteRule ^processExtensionLogin/?$ controller/ExtensionController.php?method=login
RewriteRule ^extensionGetAlbums/?$ controller/ExtensionController.php?method=getAlbums
RewriteRule ^extensionGetCollaborators/?$ controller/ExtensionController.php?method=getCollabs

RewriteRule ^album/create$ controller/AlbumController.php?method=create
RewriteRule ^([a-zA-Z0-9]+)/album/delete$ controller/AlbumController.php?method=delete
RewriteRule ^([a-zA-Z0-9]+)/album/get$ controller/AlbumController.php?method=get
RewriteRule ^([a-zA-Z0-9]+)/album/update$ controller/AlbumController.php?method=update

RewriteRule ^track/create$ controller/TrackController.php?method=create
RewriteRule ^track/delete$ controller/TrackController.php?method=delete
RewriteRule ^track/edit$ controller/TrackController.php?method=edit
RewriteRule ^track/download/(.*)?$ controller/TrackController.php?method=download&p=$1


RewriteRule ^community/?$ controller/UserController.php?method=community
RewriteRule ^community/(.*)?$ controller/UserController.php?method=community&g=$1

RewriteRule ^collabs/?$ controller/UserController.php?method=collabs

RewriteRule ^([a-zA-Z0-9]+)/?$ controller/UserController.php?method=home&u=$1
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9'\ ]+)$ controller/AlbumController.php?method=featured